table {
    font-family: sans-serif;
    color: #232323;
    border-collapse: collapse;
    font-size: 14pt;
}
table, th, td {
    border: 1px solid blue;
    padding: 8px 20px;
    text-align: center;
    align-content: center;
    font-family: monospace;
    color: maroon;
    background: mintcream;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: maroon;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
  }